alibi-detect==0.12.0
dvc[all]==3.13.0
python-box==7.0.1
jupyter==1.0.0
pandas==2.0.3
SQLAlchemy==2.0.19
psycopg2-binary==2.9.7
matplotlib==3.7.2
seaborn==0.12.2
plotly-express==0.4.1
scikit-learn==1.2.2
xgboost==1.7.6
eli5==0.13.0
uvicorn==0.23.2
fastapi==0.101.0
csv2md==1.1.2